/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --text-color: rgba(53, 52, 48, 1);
  --decoration-color: var(--text-color);
  --about-color: rgba(53, 52, 48, 1);
  --background-image: url("../images/cover-image-light.png");
  --background-color: rgba(255, 241, 247, 1);
  --display-state: none;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --button-border-color: var(--decoration-color);
}

